body{
    background-color: #f4f4f4;    /* 背景颜色 */
    color: #555555;    /* 字的颜色 */

    font-family: Arial, Helvetica, sans-serif;    /* 字体 */
    font-size: 16px;    /* 字大 */
    font-weight: normal;    /* 字重,粗细 */

    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.5em;    /* 行高 */
}

.box1{
    background-color: antiquewhite;    /* 背景颜色 */
    color: royalblue;    /* 字的颜色 */

    border: 5px blue solid;    /* 边框 */
    border-right: 5px red solid;
    border-left: 8px blue solid;
    border-top: 10px green dotted;    /* 点 */
}

.box1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: italic;    /* 斜体 */
    text-decoration: underline;    /* 下划线 */
    text-transform: uppercase;    /* 大小写 */
    letter-spacing: 1em;    /* 字母间距 */
    word-spacing: 2em;    /* 词间距 */
}

.container{
    width: 80%;    /* 宽度，左对齐 */
    margin: auto;    /* 水平居中 */
}

